{% extends 'core/base.html' %}
{% block title %}Identificarse{% endblock %}
{% block content %}
<h2>Identificarse</h2>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Identificarme</button>
</form>
<br>
<p>Si olvidó su contraseña, haga click <a href="{% url 'password_reset' %}">aquí</a>.</p>
<p>Si no estás registrado, haga click <a href="{% url 'signup' %}">aquí</a>.</p>
{% endblock %}
