{% extends 'core/base.html' %}
{% block title %}Reinicio de contraseña completado{% endblock %}
{% block content %}
<h2>Reinicio de contraseña completado</h2>
<p>Su contraseña ha sido cambiada. Ahora puede continuar e ingresar.</p>
<p><a href="{% url 'login' %}">Identificarse</a></p>
{% endblock %}
