{% extends 'core/base.html' %}
{% block title %}Se ha enviado un email de reinicialización de contraseña{% endblock %}
{% block content %}
<h2>Se ha enviado un email de reinicialización de contraseña</h2>
<p>Se le han enviado instrucciones sobre cómo establecer su contraseña. Si la dirección de email que proveyó existe, debería recibir las mismas pronto.</p>
<p>Si no ha recibido un email, por favor asegúrese de que ha introducido la dirección de correo con la que se había registrado y verifique su carpeta de Correo no deseado.</p>
{% endblock %}