{% extends 'core/base.html' %}
{% block title %}Cambio de contraseña{% endblock %}
{% block content %}
<h2>Cambio de contraseña</h2>
<p>Por favor, por razones de seguridad, introduzca primero su contraseña antigua y luego introduzca la nueva contraseña dos veces para verificar que la escrito correctamente.</p>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Cambiar mi contraseña</button>
</form>
{% endblock %}