{% extends 'core/base.html' %}
{% block title %}Recuperar contraseña{% endblock%}
{% block content %}
<h2>Recuperar contraseña</h2>
<p>¿Olvidó su contraseña? Introduzca su dirección de email abajo y le enviaremos instrucciones para establecer una nueva.</p>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p}}
    <button type="submit">Recuperar mi contraseña</button>
</form>
{% endblock %}