{% extends 'core/base.html' %}
{% block title %}Cambio de contraseña exitoso{% endblock %}
{% block content %}
<h2>Cambio de contraseña exitoso</h2>
<p>Su contraseña ha sido cambiada.</p>
{% endblock %}