{% extends 'core/base.html' %}
{% block title %}Introduzca nueva contraseña{% endblock %}
{% block content %}
<h2>Introduzca nueva contraseña</h2>
<p>Por favor introduzca su nueva contraseña dos veces de manera que podamos verificar que la ha escrito correctamente.</p>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Cambiar mi contraseña</button>
</form>
{% endblock %}