{% extends 'core/base.html' %}
{% block title%}Registrarse{% endblock %}
{% block content %}
<h2>Registrarse</h2>
<form method="POST">
    {% csrf_token%}
    {{ form.as_p}}
    <button type="submit">Registrarme</button>
</form>
{% endblock%}