{% extends 'core/base.html' %}
{% block title %}Acerca de{% endblock %}
{% block content %}
<section id="about">
    <div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
        <h2>About this page</h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus sem diam, vel tristique velit facilisis vel. Suspendisse nec est semper, tincidunt leo eget, blandit ipsum. Nunc vel magna ac metus scelerisque pellentesque in imperdiet nisi. Mauris ut neque ornare, pharetra tortor quis, dignissim leo. Quisque sed enim velit. Integer ut orci tincidunt, vulputate felis eu, commodo purus. Duis a purus non justo varius volutpat ut eu est. </p>
        
        </div>
    </div>
    </div>
</section>    
{% endblock %}