{% extends 'core/base.html' %}
{% block title %}Contacto{% endblock %}
{% block content %}
<section id="contact">
    <div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
        <h2>Contact us</h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.</p>
        </div>
    </div>
    </div>
</section>
{% endblock %}